<% include ../partials/header %>
<br>
<div class="container">
  <h1><strong>Projects</strong></h1>
  <br>

  <!-- =================================================Filter===========================================-->
  <h2><strong>Filters</strong></h2>
  <form class='' action='' method='get'>
    <br>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label"><input type="checkbox" id="checkid" name="checkid" value="true" <%=query.checkid
          ? ' checked' : '' ; %>> ID</label>
      <div class="col-sm-10">
        <input type="integer" class="form-control form-control-sm" id="id" placeholder="ID" name="id" value="<%= query.id %>">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label"><input type="checkbox" id="checkname" name="checkname" value="true" <%=query.checkname
          ? ' checked' : '' ; %>> Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control form-control-sm" id="name" placeholder="Name" name="name" value="<%= query.name %>">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label"><input type="checkbox" id="checkmember" name="checkmember" value="true" <%=query.checkmember
          ? ' checked' : '' ; %>> Member</label>
      <div class="col-sm-10">
        <select class="form-control" name="member">
          <option value="">Choose the Member...</option>
          <% users.forEach((item) => { %>
          <option <%=query.member==item.fullname ? ' selected' : '' ; %> </option>
          <%= `${item.fullname}` %>
          </option>
          <% }); %>
        </select>
      </div>
    </div>
    <br>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Search</button>
        <a href="/projects" class="btn btn-warning">Reset</a>
      </div>
    </div>
  </form>
  <br>
  <br>
  <!--==============================================Options======================================================= -->
  <h2><strong>Options</strong></h2>
  <form action="/projects/option" method="post">
    <div class="form-group row">
      <div class="col-sm-2">Column</div>
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck1" name="dataid" <%=columnOne ? ' checked' : ''
            %>>
          <label class="form-check-label" for="gridCheck1">
            ID
          </label>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-2"></div>
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck1" name="dataname" value="true" <%=columnTwo ?
            ' checked' : '' %>>
          <label class="form-check-label" for="gridCheck1">
            Name
          </label>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-2"></div>
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck1" name="datamember" value="true" <%=columnThree
            ? ' checked' : '' %>>
          <label class="form-check-label" for="gridCheck1">
            Members
          </label>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Apply</button>
    <br>
    <br>
  </form>
  <!-- ===============================================Table pagination============================================== -->
    <table class="table table-striped">
      <thead class="thead-light">
        <tr>
          <th scope="col" class="<%= columnOne ? '' : 'd-none' %>">ID</th>
          <th scope="col" class="<%= columnTwo ? '' : 'd-none' %>">Name</th>
          <th scope="col" class="<%= columnThree ? '' : 'd-none' %>">Members</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <% data.forEach((item) => { %>
        <tr>
          <th scope="row" class="<%= columnOne ? '' : 'd-none' %>">
            <a href="/projects/overview/<%= item.projectid %>">
              <%= item.projectid %></a>
          </th>
          <td class="<%= columnTwo ? '' : 'd-none' %>">
            <%= item.name %>
          </td>
          <td class="<%= columnThree ? '' : 'd-none' %>">
            <%= item.members.join(", ") %>
          </td>
          <td class="Action">
            <a href="/projects/edit/<%= item.projectid %>" class="btn btn-success">edit</a>
            <% if(status == 'Admin' ){%> <a href="/projects/delete/<%= item.projectid %>" class="btn btn-danger" onclick="return confirm('datanya mau dihapus?');">delete</a> <%}%>  
          </td>         
        </tr>
        <% }) %>
      </tbody>
    </table>
     <nav aria-label="Page navigation">
      <ul class="pagination">
        <% if(pagination.page > 1){ %>
        <li class="page-item">
          <a class="page-link" href="/projects<%= pagination.url.replace(`page=${pagination.page}`, `page=${parseInt(pagination.page)-1}`) %>"
            aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <% } %>
        <% for(let i=1; i <= pagination.pages; i++) { %>
        <li class="page-item<%= pagination.page == i ? ' active' : '' %>">
          <a class="page-link" href="/projects<%= pagination.url.replace(`page=${pagination.page}`, `page=${i}`) %>">
            <%= i %>
          </a>
        </li>
        <% } %>
        <% if(pagination.page < pagination.pages) { %>
        <li class="page-item">
          <a class="page-link" href="/projects<%= pagination.url.replace(`page=${pagination.page}`, `page=${parseInt(pagination.page)+1}`) %>"
            aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
        <% } %>
      </ul>
    </nav>
    <a class="btn btn-primary" href="/projects/add" role="button">Add</a>
  
</div>

<% include ../partials/footer %>